.footer {
  width: 100%;
  background: white;
  color: #001C4F;
  box-shadow: 0 -5px 8px 1px #CCC;
}

.container-footer{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
}

.empresas-content {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-titulo-apoiadores  {
  margin-top: 1rem;
}

.footer-empresas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-empresas--unipam {
  width: 200px;
  height: 100px;
}
.footer-empresas--cedro {
  width: 170px;
  height: 70px;
}
.footer-empresas--grupoa {
  width: 100px;
  height: 70px;
}
.footer-empresas--obers {
  width: 170px;
  height: 80px;
}

.realizacao-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.footer-titulo-realizacao  {
  margin-top: 1rem;
}

.footer-realizacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 1.25rem;
}

.footer-realizacao-cubo {
  width: 100px;
  height: 100px;
}

.footer-realizacao-cursos {
  font-size: 1.25rem;
  font-weight: 600;
  color: #001C4F;
  margin: 1rem;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .footer {
    margin-top: 1rem;
    height: auto;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-empresas {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footer-empresas--unipam {
    margin-bottom: 10px;
  }
  .footer-empresas--cedro {
    margin-bottom: 10px;
  }
  .footer-empresas--grupoa {
    margin-bottom: 10px;
  }
  .footer-empresas--obers {
    
  }

  .footer-empresas--auma {
    margin-bottom: 10px;
  }

  .realizacao-content {
    width: 100%;
  }

  .footer-realizacao-cursos {
    text-align: center;
  }
}
