.footer {
  width: 100%;
  height: 150px;
  background: white;
  color: #001C4F;
  box-shadow: 0 -5px 8px 1px #CCC;
}

.container-footer{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-empresas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-empresas--unipam {
  width: 200px;
  height: 100px;
}
.footer-empresas--cedro {
  width: 170px;
  height: 70px;
}
.footer-empresas--grupoa {
  width: 100px;
  height: 70px;
}
.footer-empresas--obers {
  width: 170px;
  height: 70px;
}

@media screen and (max-width: 720px) {
  .footer {
    margin-top: 1rem;
    height: auto;
  }

  .footer-empresas {
    flex-direction: column;
  }

  .footer-empresas--unipam {
    margin-bottom: 10px;
  }
  .footer-empresas--cedro {
    margin-bottom: 10px;
  }
  .footer-empresas--grupoa {
    margin-bottom: 10px;
  }
  .footer-empresas--obers {
    
  }
}
